<link href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' 
rel='stylesheet'>
<style> 
table, th, td {
	border: 1px solid black;
	border-collapse: collapse; }

th, td {
	padding: 5px;
	text-align: center; }

.tooltip {
	display:inline;
	position:relative; }

.tooltip:hover:after { 
	background:#333; 
	background:rgba(0,0,0,.8); 
	border-radius: 5px;
	bottom: -3px; 
	color: #fff;
	content: attr(name); 
	left: 50px; 
	padding: 5px 15px;
	position: absolute; 
	z-index: 999; 
	width: 350px; }

th {
	background-color: rgb(100,100,100);
    color: white;
    padding: 10px 10px;
    text-align: center;
	border: none; }

td {
	border-color: rgba(0,0,0,.2); }

#truec {
	background-color: #dff0d8;
	color:#3c763d; }
#falsec {
	background-color: #f2dede;
	color:#a94442; }
</style>
<center>
	<table>
		<tr>
			<th>Test</th>
			<th>Requirement</th>
			<th>Method</th>
			<th>Input</th>
			<th>Oracle</th>
			<th>Output</th>
			<th>Result</th>
		</tr>